In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
'''
input = raw data
output = raw_train, raw_test
function:The raw data was devided into raw_train and raw_test
'''

df = pd.read_excel('raw data.xlsx')
# removing patients without follow-up result
df = df[df['MACE'].notnull()]

In [3]:
df = df.reindex(np.random.permutation(df.index))#disrupt the order

In [4]:
df.shape

(410, 26)

In [5]:
df.head()

,admission number,Age,Sex,InhisTime,Revasc,Culp,MainVASc,Numsten,ECG,Killip,...,UA,Glu,WBC,N,HyperP,Cigaret,OtherHis,diabetes,Drugcom,MACE
342,1038735,49,男,2019-08-26,2d6h20min,4.0,1.0,1.0,1,I,...,455.0,4.13,9.28,7.06,0,1,0.0,0,1.0,0.0
31,1000681,63,男,2019-01-25,4h11min,6.0,4.0,2.0,1,Ⅳ,...,307.0,9.77,10.91,8.12,1,1,0.0,0,1.0,0.0
2,1035609,68,女,2019-03-31,4h30min,2.0,1.0,1.0,1,Ⅲ,...,406.0,5.01,4.60,2.75,1,0,1.0,0,0.0,1.0
77,1027073,80,男,2019-06-23,6h38min,5.0,0.0,1.0,0,Ⅰ,...,445.0,5.77,6.33,4.85,0,0,1.0,0,1.0,0.0
371,1050791,35,男,2019-10-21,2h12min,2.0,2.0,3.0,1,I,...,402.0,5.89,13.36,12.04,1,0,1.0,0,1.0,0.0

In [6]:
df['MACE'].value_counts()

0.0    285
1.0    125
Name: MACE, dtype: int64

In [8]:
df.columns

Index(['admission number ', 'Age', 'Sex', 'InhisTime', 'Revasc', 'Culp',
       'MainVASc', 'Numsten', 'ECG', 'Killip', 'TC', 'LDL', 'CRP', 'EF', 'LV',
       'Cr', 'UA', 'Glu', 'WBC', 'N', 'HyperP', 'Cigaret', 'OtherHis',
       'diabetes', 'Drugcom', 'MACE'],
      dtype='object')

In [11]:
a = df[df['admission number']==1025711].index.tolist()[0]
b = df[df['admission number']==1057687].index.tolist()[0]
#Two patients (admission number:1025711,1057687) were excluded because they didn't make multiple tests
df = df.drop(index=[a,b])

In [15]:
df.shape

(408, 26)

In [17]:
raw_train = df[0:244]

In [18]:
raw_train['MACE'].value_counts()

0.0    169
1.0     75
Name: MACE, dtype: int64

In [20]:
raw_test = df[244:408]
raw_test['MACE'].value_counts()

0.0    114
1.0     50
Name: MACE, dtype: int64

In [21]:
#output:raw_train, raw_test
raw_train.to_excel(r'C:\Users\lenovo\Revision\Preprocessing\raw_train.xlsx')
raw_test.to_excel(r'C:\Users\lenovo\Revision\Preprocessing\raw_test.xlsx')